.ant-layout {
  background: bottom;
}

.ant-menu {
  border: 0;
}

.anticon-menu-fold,
.anticon-menu-unfold {
  color: #8c8c8c;

}

.ant-layout-sider.sider-switch-desktop{
  margin-left: 8px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.site-page-header{
  background-color: #F0F5FF;
  ;
}

.ant-page-header-content{
  padding-top: 10px;
}

.ant-page-header-content .ant-layout-content{
  text-align: left;
  font-weight: bold;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.ant-menu > .ant-menu-item {
  margin-top: 19px;
  letter-spacing: 0.5px;
  line-height: 18.2px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.ant-page-header-heading-extra{
  margin-top: 8px;
  margin-bottom: 0;
}
.ant-page-header.has-breadcrumb {
  padding-top: 8px;
  padding-bottom: 10px;
}

.ant-menu-item:last-child {
  bottom: 0;
  position: absolute;
  border-top: 1px solid #f0f0f0;
}

.ant-menu-title-content {
  color: #3d2c2c;
  letter-spacing: 0.1px;
}

.sider-switch-mobile {
  display: none;
}

.trigger {
  line-height: 64px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%, rgba(0, 0, 0, 1));

  width: 20px;
  height: 66px;
  background-color: #fff;
  border: 0;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.trigger-mobile {
  top: 10px;
  display: none;
  width: 32px;
  height: 48px;
}

.ant-layout-header {
  width: 100%;
  height: 168px;
  padding: 6px 24px;
}

.ant-descriptions-item-content{
  font-weight: bold;
  text-align: left;
  font-size: 38px;
  max-width: 80%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-top: -40px;
  line-height: 49.4px;
  padding-bottom: 4px;
}

.ant-btn-text{
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0;
text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 360px) {
  .trigger-mobile {
    display: block;
  }

  .ant-menu-item:last-child {
    text-align: center;
  }

  .trigger-desktop,
  .sider-switch-desktop {
    display: none;
  }

  .sider-switch-mobile {
    display: block;
  }

}

.wrapper-site-layout-content {
  position: relative;
  height: 100%;
}

.site-layout-content-page {
  height: 100%;
}

.ant-layout-footer {
  background: none;
  padding: 30px;
  text-align: left;
}

@media (prefers-color-scheme: light) {
  .ant-layout-has-sider {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 253, 253, 0.8) 100%),
      url("./image/Main page_light.jpg"), lightgray 50% / cover no-repeat;
  }
  .ant-layout-header {
    background-color: #F0F5FF;
  }
}

@media (prefers-color-scheme: dark) {
  .ant-layout-has-sider {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 253, 253, 0.8) 100%),
      url("./image/Main page_dark.jpg"), lightgray 50% / cover no-repeat;
  }
}